.button{
    padding: 20px;
}
.items-center{
    text-align: center;
}
.row{
    margin: 8px 0px;
}
.button{
    margin: 0px 3px;
    width: 56px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}
.row input{
    font-size:20px;
    margin: 0px;
    padding: 8px 6px;
    border: 2px solid black;
    border-radius: 5px;
}
